<input type="file" #fileInput multiple>

<ng-container *ngIf="files$ | async as files;">
	<h5>preview</h5>
	<div class="files" *ngFor="let file of files">
		<ng-container
			*ngTemplateOutlet="file.error ? errorTemplate : file.image ? imageTemplate : fileTemplate; context: { $implicit: file }">
		</ng-container>
		<button (click)="remove(file)">X</button>
	</div>

</ng-container>




<ng-template #errorTemplate let-uploadedFile>
	<div class="file file--error">{{uploadedFile.error.name}} - {{uploadedFile.error.errorMessage}}</div>
</ng-template>

<ng-template #imageTemplate let-uploadedFile>
	<div class="file file--image"><img src="{{uploadedFile.image.src}}" title="{{uploadedFile?.file?.name}}" /></div>
</ng-template>

<ng-template #fileTemplate let-uploadedFile>
	<div class="file">{{uploadedFile.file.name}}</div>
</ng-template>